@{
    ViewBag.Title = "Cancellation Submitted";
}

<h2>Cancellation Submitted</h2>
The cancellation request was sent and will be reflected in the system shortly
<br />
@Html.ActionLink("Cancel Another", "Cancel")
<br/>
@Html.ActionLink("Home", "Index", "Home")