@{
    ViewBag.Title = "Cancel Subscription";
}

<h2>Cancel Subscription</h2>
@using(Html.BeginForm())
{
    <fieldset>
        <legend>Subscriber Info</legend>
        
        <label>Name</label>
        <input type="text" name="subscriberName"/>
        
        <br/><br/>
        <button>Submit</button>
    </fieldset>
}
