@{
    ViewBag.Title = "Subscription Submitted";
}

<h2>Subscription Submitted</h2>

The subscription was sent and will be reflected in the system shortly
<br />
@Html.ActionLink("Enroll Another", "Enroll")
<br/>
@Html.ActionLink("Home", "Index", "Home")